{% extends "layout.html" %}

{% block title %}
    Import
{% endblock %}

{% block main %}
<table id="roster" class="table table-striped table-hover" style="width:100%">
	<h1>Questions & Answers</h1>
	<br>

	<tbody>
		<tr class="text-left">
			<td>Q: What CSV-encoding is used?<br>A: utf-8 & ascii are tested</td>
		</tr>
		<tr class="text-left">
			<td>Q: What is the layout of the CSV?<br>A: account number (IBAN-format) / transaction date (format 99-99-99) / valuta code - no validation / credit debet (C or D)/ amount / counter account /  counter account holder / valuta date / payment method / description / payment type / authorization number /  collector ID / address / reference / book date </td>
		</tr>
		<tr class="text-left">	
			<td>Q: What is the Reference used for?<br>A: Reference is a unique identifier, accounts will be imported only, when a unique identifier has been provided</td>
		</tr>
		<tr class="text-left">	
			<td>Q: Which banks are currently supported?<br>A: Currently the CSV-format used, is that of the Dutch bank KNAB.</td>
		</tr>
		<tr class="text-left">
			<td>Layout CSV-file - use the below as an example<br><br>Rekeningnummer;Transactiedatum;Valutacode;CreditDebet;Bedrag;Tegenrekeningnummer;Tegenrekeninghouder;Valutadatum;Betaalwijze;Omschrijving;Type betaling;Machtigingsnummer;Incassant ID;Adres;<b>Referentie</b>;Boekdatum;<br>
					"NL36KNAB012345678";"05-02-2020";"EUR";"D";"55";"NL19BUNQ2233445566";"T. Hanks";"05-02-2020";"Overboeking";"savings";"";"";"";"";"<b>C0B05PGXAQ73DFW2</b>";"05-02-2020";</td>
		</tr>
	</tbody>
</table>	
{% endblock %}
