{% extends "layout.html" %}

{% block title %}
    Import
{% endblock %}

{% block main %}
    <form action="/import" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number" min = "1">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>

 <!--   <p>Select your csv-file to import suspense-accounts to be matched</p>
    <br>
    <form action="/import" enctype="multipart/form-data" method="post">
        <input type="file" name="file">
        <br>
        <button type="submit">Run Import</button>
    </form> -->
{% endblock %}
